In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime, timedelta
import re


names= ['Intitulé_du_poste', 'Date_de_publication', 'lieu', 'competences', 'Type_de_poste']

fn_data = 'data.json'

df = pd.read_json(fn_data, encoding = 'utf8' )
df.to_csv("data.csv", index=False)

df.head(40)

,Intitulé du poste,Date de publication,lieu,competences,Type de poste
0,[\nData Analyst - Publicité\n],\npostée il y a 21 jours\n,[\nParis\n],"[\nsql\n, \nt-sql\n, \noutils\n]","[\n, \n, Sept Lieues SAS, \n, Cabinet de recru..."
1,[Data analyst - H/F\n],\npostée il y a 1 mois\n,"[\nParis, La Défense\n]","[\nsupport\n, \noutils\n, \nagile\n, \ndesign\...","[\n, \n, EDF France, \n, Client final, \n, \n,..."
2,[Customer Data Analyst (H/F)\n],\npostée il y a 27 jours\n,[\nParis\n],"[\ncrm\n, \ndata quality\n, \nsql\n, \nsas\n, ...","[\n, \n, Hermès, \n, Client final, \n, \n, \nC..."
3,[Master Data Analyst H/F\n],\npostée il y a 21 jours\n,[\nMoussy-le-Vieux\n],"[\nsi\n, \nsupport\n, \nsap\n]","[\n, \n, TEREOS, \n, Client final, \n, \n, \nC..."
4,[Portfolio Data Analyst H/F\n],\npostée il y a 3 jours\n,[\nFrance\n],"[\noutils\n, \nsupport\n, \ndecisionnel\n, \ns...","[\n, \n, Safran-Group, \n, Client final, \n, \..."
5,[Data Analyst BO/Qlick Sense (h/f)\n],\npostée il y a 15 jours\n,"[\nMaisons Alfort\n, \n45.000,00 € - 50.000,00...","[\nsupport\n, \nsql\n, \ndata management\n, \n...","[\n, \n, FED IT, \n, Cabinet de recrutement, \..."
6,[Product Data Analyst - BI - H/F\n],\npostée il y a 28 jours\n,[\nParis\n],"[\ncloud\n, \npaas\n, \nqlik\n, \niaas\n, \nsu...","[\n, \n, Cegid, \n, Client final, \n, \n, \nCD..."
7,[Data Analyst / Chef de Projet BI (h/f)\n],\npostée il y a 1 mois\n,"[\nPARIS\n, \n60.000,00 € - 62.000,00 € / an\n]","[\ndata management\n, \nbusiness intelligence\...","[\n, \n, FED IT, \n, Cabinet de recrutement, \..."
8,[Business analyst senior DATA CRM - Paris H/F\n],\npostée il y a 12 heures\n,[\nParis\n],"[\ncrm\n, \nagile\n, \ndecisionnel\n, \nréseau...","[\n, \n, Credit Agricole, \n, Client final, \n..."
9,[Data scientist / Analyst and software develop...,\npostée il y a 13 jours\n,[\nRueil-Malmaison\n],"[\nbig data\n, \nscrum\n, \nintelligence artif...","[\n, \n, Vinci, \n, Client final, \n, \n, \nSt..."
10,[Data Analyst (H/F) – Mobile Gaming - Gaminho\n],\npostée il y a 13 jours\n,[\nParis\n],"[\nmobile\n, \nmarketing\n, \noutils\n, \nt-sq...","[\n, \n, Paris&Co, \n, Client final, \n, \n, \..."
11,[Responsable Analyses et Data Relation Clients...,\npostée il y a 14 jours\n,[\nLa Defense\n],"[\nsas\n, \ntéléphonie\n, \nserveur\n, \ncommu...","[\n, \n, Société générale, \n, Client final, \..."
12,[\nDATA INGENIEUR F/H\n],\npostée il y a 3 jours\n,[\nSuresnes\n],"[\ndigital\n, \noutils\n, \ncloud\n, \nwebmark...","[\n, \n, Fyte, \n, Cabinet de recrutement, \n,..."
13,[Alternant - Data Analyst - statistiques prédi...,\npostée il y a 14 jours\n,[\nSaint-Ouen\n],"[\noutils\n, \nmarketing\n, \ndigital\n, \nmac...","[\n, \n, Groupe ENGIE, \n, Client final, \n, \..."
14,[Data Scientist - CDI\n],\npostée il y a 28 jours\n,"[\nRUEIL MALMAISON\n, \n60.000,00 € - 65.000,0...","[\nmarketing\n, \ndata management\n, \nsupport\n]","[\n, \n, FED IT, \n, Cabinet de recrutement, \..."
15,[\nIngénieur MCO CyberSOC F/H\n],\npostée il y a 9 jours\n,[\nPuteaux\n],"[\nsécurité\n, \nsecurité\n, \nsi\n, \nréseau\...","[\n, \n, I-Tracing, \n, Cabinet de conseil, \n..."
16,[Consultant Data h/f\n],\npostée il y a 2 jours\n,"[\nParis\n, \n60.000,00 € - 70.000,00 € / an\n]","[\nbig data\n, \noracle\n, \ncloud\n, \nsap\n,...","[\n, \n, Selescope, \n, \n, \nCDI - temps plei..."
17,[DATA ENGINEER BIG DATA - H/F\n],\npostée il y a 2 jours\n,[\nPARIS\n],"[\nbig data\n, \npython\n, \nsupport\n, \ninte...","[\n, \n, Banque de France, \n, Administration ..."
18,[DATA QUALITY MANAGER-(H/F)\n],\npostée il y a 14 jours\n,[\nFontenay-sous-Bois\n],"[\ndata quality\n, \nmarketing\n]","[\n, \n, Société générale, \n, Client final, \..."
19,[\nChef de projets data - analytics H/F\n],\npostée il y a 5 jours\n,"[\nGennevilliers\n, \n60.000,00 € - 70.000,00 ...","[\nmarketing\n, \noutils\n, \ndigital\n, \nux\...","[\n, \n, Hays France, \n, Cabinet de recruteme..."
20,[Senior Data Engineer - WINGLET.IO\n],\npostée il y a 22 jours\n,[\nParis\n],"[\nscala\n, \ndata quality\n, \nedge\n, \npyth...","[\n, \n, Paris&Co, \n, Client final, \n, \n, \..."
21,[Responsable Etudes et Projets SI H/F\n],\npostée il y a 8 heures\n,"[\nBoulogne-Billancourt\n, \n55.000,00 € - 60....","[\nsi\n, \ndata management\n, \ndata quality\n...","[\n, \n, Michael Page, \n, Cabinet de recrutem..."
22,[\nIngénieur BI & Big Data stagiaire F/H\n],\npostée il y a 25 jours\n,[\nSaint-Germain-en-Laye\n],"[\nbig data\n, \nbases de données\n, \nnosql\n...","[\n, \n, TRIMANE, \n, ESN, \n, \n, \nStage\n]"
23,[\nStage BI & Big Data #3 F/H\n],\npostée il y a 21 jours\n,[\nSaint-Germain-en-Laye\n],"[\nbig data\n, \nbusiness intelligence\n, \nma...","[\n, \n, TRIMANE, \n, ESN, \n, \n, \nStage\n]"
24,[Ingénieur d’affaires / Business Developer–Dat...,\npostée il y a 29 jours\n,"[\nSuresnes\n, \n70.000,00 € - 100.000,00 € / ...","[\nbusiness intelligence\n, \ncrm\n, \nintelli...","[\n, \n, Selescope, \n, \n, \nCDI - temps plei..."
25,[Business Developer – IA / Data Analytics h/f\n],\npostée il y a 19 jours\n,"[\nSuresnes\n, \n70.000,00 € - 100.000,00 € / ...","[\nintelligence artificielle\n, \nbusiness int...","[\n, \n, Selescope, \n, \n, \nCDI - temps plei..."
26,[Business Analyst / Solution Owner - Life Scie...,\npostée hier\n,"[\nLa Défense, Île de France, FR\n]","[\nsi\n, \nmultimédia\n, \nacquisition\n, \nté...","[\n, \n, MODIS, \n, Cabinet de conseil, \n, \n..."
27,[Data Engineer - H/F\n],\npostée il y a 1 mois\n,"[\nParis, La Défense\n]","[\noutils\n, \nbig data\n, \npython\n, \ndevop...","[\n, \n, EDF France, \n, Client final, \n, \n,..."
28,[Business Analyst / Business Intelligence\n],\npostée hier\n,"[\nRUEIL MALMAISON\n, \n35.000,00 € - 45.000,0...","[\nbusiness intelligence\n, \nmarketing\n, \ni...","[\n, \n, FED IT, \n, Cabinet de recrutement, \..."
29,[Stagiaire Ingénieur Big Data/ Intelligence Ar...,\npostée il y a 5 jours\n,[\nIle-de-France\n],"[\nbig data\n, \nintelligence artificielle\n, ...","[\n, \n, Direct energie, \n, Client final, \n,..."
30,[\nGlobal Technical SEO Manager\n],\npostée il y a 14 jours\n,[\nParis\n],"[\nseo\n, \ncommunication\n, \nnetwork\n, \nac...","[\n, \n, CareerBuilder.com, \n, Client final, ..."
31,[\nTechnicien Support Informatique H/F\n],\npostée il y a 13 jours\n,[\nIle de France\n],"[\nsupport\n, \nwan\n, \nwindows\n, \noutils\n...","[\n, \n, UMANIS, \n, ESN, \n, \n, \nCDI - temp..."
32,[Investor Relations Professional\n],\npostée il y a 9 jours\n,[\nRueil-Malmaison\n],"[\ncommunication\n, \nsupport\n, \ndatabase\n,...","[\n, \n, Société générale, \n, Client final, \..."
33,[AGILE BUSINESS ANALYST\n],\npostée il y a 22 jours\n,[\nIle de France\n],"[\nagile\n, \nsi\n, \nsupport\n, \ndevops\n, \...","[\n, \n, Societe Generale, \n, Client final, \..."
34,[Alternance - Analyse de sensibilité des donné...,\npostée il y a 21 jours\n,"[\nParis, La Défense\n]","[\noutils\n, \nbig data\n, \nsi\n, \nréseau\n,...","[\n, \n, EDF France, \n, Client final, \n, \n,..."
35,[DATA SCIENTIST\n],\npostée il y a 9 jours\n,[\nVal-de-Marne\n],"[\nhadoop\n, \nmachine learning\n, \noutils\n,...","[\n, \n, Societe Generale, \n, Client final, \..."
36,[Junior Data Scientist - WINGLET.IO\n],\npostée il y a 22 jours\n,[\nParis\n],"[\nsql\n, \npython\n, \nscala\n, \nt-sql\n, \n...","[\n, \n, Paris&Co, \n, Client final, \n, \n, \..."
37,[Senior Data Scientist - WINGLET.IO\n],\npostée il y a 22 jours\n,[\nParis\n],"[\nsql\n, \npython\n, \nscala\n, \nt-sql\n, \n...","[\n, \n, Paris&Co, \n, Client final, \n, \n, \..."
38,[\nData Scientist\n],\npostée il y a 29 jours\n,"[\nParis\n, \n45.000,00 € - 70.000,00 € / an\n]","[\nmachine learning\n, \nméthodologie\n, \nagi...","[\n, \n, Key Consulting, \n, ESN, \n, \n, \nCD..."
39,[Stage Data Analyst-(H/F)\n],\npostée hier\n,[\nLa Defense\n],"[\noutils\n, \nperl\n, \nvba\n, \ntest\n, \nda...","[\n, \n, Société générale, \n, Client final, \..."

In [13]:
df['Intitulé du poste'] = df['Intitulé du poste'].apply(lambda x: ''.join(map(str, x)).replace("\n", ""))
df['Intitulé du poste']

0                               Data Analyst - Publicité
1                                     Data analyst - H/F
2                            Customer Data Analyst (H/F)
3                                Master Data Analyst H/F
4                             Portfolio Data Analyst H/F
                             ...
225                            SAP Fiori Developer (H/F)
226             ENGIE Digital - Architecte Données (H/F)
227    Quality Assurance - Lead QA - Lead Acceptance H/F
228                                       DATA SCIENTIST
229                                  Datascientist (H/F)
Name: Intitulé du poste, Length: 230, dtype: object

In [14]:
df['Date de publication'] = df['Date de publication'].apply(lambda x: x.replace("\n", "").replace("postée il y a", ""))
df['Date de publication']

0       21 jours
1         1 mois
2       27 jours
3       21 jours
4        3 jours
         ...
225     27 jours
226      3 jours
227     2 heures
228     16 jours
229      3 jours
Name: Date de publication, Length: 230, dtype: object

In [15]:
df['lieu'] = df['lieu'].apply(lambda x: ''.join(map(str, x)).replace("\n", ""))
df['lieu']

0                                                Paris
1                                    Paris, La Défense
2                                                Paris
3                                      Moussy-le-Vieux
4                                               France
                            ...
225                                         Saint-Ouen
226                                              Paris
227                               Boulogne-Billancourt
228    NEUILLY SUR SEINE38.000,00 € - 50.000,00 € / an
229                                         Saint-Ouen
Name: lieu, Length: 230, dtype: object

In [16]:
df['competences'] = df['competences'].apply(lambda x: ''.join(map(str, x)).replace("\n", " "))

df['competences']

0                                 sql  t-sql  outils
1           support  outils  agile  design  big data
2                crm  data quality  sql  sas  python
3                                   si  support  sap
4            outils  support  decisionnel  sql  test
                            ...
225           sap  abap  progiciel  système  support
226       digital  outils  securité  sécurité  t-sql
227               test  serveur  jquery  mobile  tdd
228       nosql  unix  java  machine learning  linux
229     big data  support  python  réseaux  securité
Name: competences, Length: 230, dtype: object

In [17]:
df['Type de poste'] = df['Type de poste'].apply(lambda x: ''.join(map(str, x)).replace("\n", " "))

df['Type de poste']

0        Sept Lieues SAS Cabinet de recrutement   CDI...
1           EDF France Client final   CDI - temps plein
2               Hermès Client final   CDI - temps plein
3               TEREOS Client final   CDI - temps plein
4         Safran-Group Client final   CDI - temps plein
                             ...
225       Groupe ENGIE Client final   CDI - temps plein
226       Groupe ENGIE Client final   CDI - temps plein
227      Francaise des jeux Client final   CDI - temp...
228                      BEEZEN ESN   CDI - temps plein
229       Groupe ENGIE Client final   CDI - temps plein
Name: Type de poste, Length: 230, dtype: object

In [18]:

df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste
0,Data Analyst - Publicité,21 jours,Paris,sql t-sql outils,Sept Lieues SAS Cabinet de recrutement CDI...
1,Data analyst - H/F,1 mois,"Paris, La Défense",support outils agile design big data,EDF France Client final CDI - temps plein
2,Customer Data Analyst (H/F),27 jours,Paris,crm data quality sql sas python,Hermès Client final CDI - temps plein
3,Master Data Analyst H/F,21 jours,Moussy-le-Vieux,si support sap,TEREOS Client final CDI - temps plein
4,Portfolio Data Analyst H/F,3 jours,France,outils support decisionnel sql test,Safran-Group Client final CDI - temps plein
...,...,...,...,...,...
225,SAP Fiori Developer (H/F),27 jours,Saint-Ouen,sap abap progiciel système support,Groupe ENGIE Client final CDI - temps plein
226,ENGIE Digital - Architecte Données (H/F),3 jours,Paris,digital outils securité sécurité t-sql,Groupe ENGIE Client final CDI - temps plein
227,Quality Assurance - Lead QA - Lead Acceptance H/F,2 heures,Boulogne-Billancourt,test serveur jquery mobile tdd,Francaise des jeux Client final CDI - temp...
228,DATA SCIENTIST,16 jours,"NEUILLY SUR SEINE38.000,00 € - 50.000,00 € / an",nosql unix java machine learning linux,BEEZEN ESN CDI - temps plein
229,Datascientist (H/F),3 jours,Saint-Ouen,big data support python réseaux securité,Groupe ENGIE Client final CDI - temps plein

In [19]:
#df["duree"] = df["Date de publication"].replace(r'^[0-9]+$', "", regex=True)
df["duree"] = df["Date de publication"].str.extract(r'(\d+)(\D+)')[1]
df['duree']

0        jours
1         mois
2        jours
3        jours
4        jours
        ...
225      jours
226      jours
227     heures
228      jours
229      jours
Name: duree, Length: 230, dtype: object

In [20]:
# Définir la date de référence
datetime_str = '15/01/2023'

datetime_object = datetime.strptime(datetime_str, '%d/%m/%Y')

#print(datetime_object - timedelta(1))



df['nb_jour'] = df['Date de publication'].str.extract(r'(\d+)').fillna(1).astype(int)

df.head(40)

,Intitulé du poste,Date de publication,lieu,competences,Type de poste,duree,nb_jour
0,Data Analyst - Publicité,21 jours,Paris,sql t-sql outils,Sept Lieues SAS Cabinet de recrutement CDI...,jours,21
1,Data analyst - H/F,1 mois,"Paris, La Défense",support outils agile design big data,EDF France Client final CDI - temps plein,mois,1
2,Customer Data Analyst (H/F),27 jours,Paris,crm data quality sql sas python,Hermès Client final CDI - temps plein,jours,27
3,Master Data Analyst H/F,21 jours,Moussy-le-Vieux,si support sap,TEREOS Client final CDI - temps plein,jours,21
4,Portfolio Data Analyst H/F,3 jours,France,outils support decisionnel sql test,Safran-Group Client final CDI - temps plein,jours,3
5,Data Analyst BO/Qlick Sense (h/f),15 jours,"Maisons Alfort45.000,00 € - 50.000,00 € / an",support sql data management business objec...,FED IT Cabinet de recrutement CDD/Intérim ...,jours,15
6,Product Data Analyst - BI - H/F,28 jours,Paris,cloud paas qlik iaas support,Cegid Client final CDI - temps plein,jours,28
7,Data Analyst / Chef de Projet BI (h/f),1 mois,"PARIS60.000,00 € - 62.000,00 € / an",data management business intelligence bases...,FED IT Cabinet de recrutement CDI - temps ...,mois,1
8,Business analyst senior DATA CRM - Paris H/F,12 heures,Paris,crm agile decisionnel réseaux réseau,Credit Agricole Client final CDI - temps p...,heures,12
9,Data scientist / Analyst and software developm...,13 jours,Rueil-Malmaison,big data scrum intelligence artificielle e...,Vinci Client final Stage,jours,13
10,Data Analyst (H/F) – Mobile Gaming - Gaminho,13 jours,Paris,mobile marketing outils t-sql sql,Paris&Co Client final CDI - temps plein,jours,13
11,Responsable Analyses et Data Relation Clients ...,14 jours,La Defense,sas téléphonie serveur communication,Société générale Client final CDI - temps ...,jours,14
12,DATA INGENIEUR F/H,3 jours,Suresnes,digital outils cloud webmarketing marketing,Fyte Cabinet de recrutement CDI - temps pl...,jours,3
13,Alternant - Data Analyst - statistiques prédic...,14 jours,Saint-Ouen,outils marketing digital machine learning ...,Groupe ENGIE Client final CDI - temps plein,jours,14
14,Data Scientist - CDI,28 jours,"RUEIL MALMAISON60.000,00 € - 65.000,00 € / an",marketing data management support,FED IT Cabinet de recrutement CDI - temps ...,jours,28
15,Ingénieur MCO CyberSOC F/H,9 jours,Puteaux,sécurité securité si réseau outils,I-Tracing Cabinet de conseil CDI - temps p...,jours,9
16,Consultant Data h/f,2 jours,"Paris60.000,00 € - 70.000,00 € / an",big data oracle cloud sap python,Selescope CDI - temps plein,jours,2
17,DATA ENGINEER BIG DATA - H/F,2 jours,PARIS,big data python support intelligence artif...,Banque de France Administration Publique C...,jours,2
18,DATA QUALITY MANAGER-(H/F),14 jours,Fontenay-sous-Bois,data quality marketing,Société générale Client final CDI - temps ...,jours,14
19,Chef de projets data - analytics H/F,5 jours,"Gennevilliers60.000,00 € - 70.000,00 € / an",marketing outils digital ux mobile,Hays France Cabinet de recrutement CDI - t...,jours,5
20,Senior Data Engineer - WINGLET.IO,22 jours,Paris,scala data quality edge python big data,Paris&Co Client final CDI - temps plein,jours,22
21,Responsable Etudes et Projets SI H/F,8 heures,"Boulogne-Billancourt55.000,00 € - 60.000,00 € ...",si data management data quality méthodolog...,Michael Page Cabinet de recrutement CDI - ...,heures,8
22,Ingénieur BI & Big Data stagiaire F/H,25 jours,Saint-Germain-en-Laye,big data bases de données nosql système d...,TRIMANE ESN Stage,jours,25
23,Stage BI & Big Data #3 F/H,21 jours,Saint-Germain-en-Laye,big data business intelligence machine lear...,TRIMANE ESN Stage,jours,21
24,Ingénieur d’affaires / Business Developer–Data...,29 jours,"Suresnes70.000,00 € - 100.000,00 € / an",business intelligence crm intelligence arti...,Selescope CDI - temps plein,jours,29
25,Business Developer – IA / Data Analytics h/f,19 jours,"Suresnes70.000,00 € - 100.000,00 € / an",intelligence artificielle business intellige...,Selescope CDI - temps plein,jours,19
26,Business Analyst / Solution Owner - Life Sciences,postée hier,"La Défense, Île de France, FR",si multimédia acquisition télécoms,MODIS Cabinet de conseil CDI - temps plein,NaN,1
27,Data Engineer - H/F,1 mois,"Paris, La Défense",outils big data python devops agile,EDF France Client final CDI - temps plein,mois,1
28,Business Analyst / Business Intelligence,postée hier,"RUEIL MALMAISON35.000,00 € - 45.000,00 € / an",business intelligence marketing intelligenc...,FED IT Cabinet de recrutement CDI - temps ...,NaN,1
29,Stagiaire Ingénieur Big Data/ Intelligence Art...,5 jours,Ile-de-France,big data intelligence artificielle nosql p...,Direct energie Client final Stage,jours,5
30,Global Technical SEO Manager,14 jours,Paris,seo communication network access rails,CareerBuilder.com Client final CDI - temps...,jours,14
31,Technicien Support Informatique H/F,13 jours,Ile de France,support wan windows outils exchange,UMANIS ESN CDI - temps plein,jours,13
32,Investor Relations Professional,9 jours,Rueil-Malmaison,communication support database crm access,Société générale Client final CDI - temps ...,jours,9
33,AGILE BUSINESS ANALYST,22 jours,Ile de France,agile si support devops sql,Societe Generale Client final CDI - temps ...,jours,22
34,Alternance - Analyse de sensibilité des donnée...,21 jours,"Paris, La Défense",outils big data si réseau securité,EDF France Client final Contrat de profess...,jours,21
35,DATA SCIENTIST,9 jours,Val-de-Marne,hadoop machine learning outils bases de do...,Societe Generale Client final CDI - temps ...,jours,9
36,Junior Data Scientist - WINGLET.IO,22 jours,Paris,sql python scala t-sql edge,Paris&Co Client final CDI - temps plein,jours,22
37,Senior Data Scientist - WINGLET.IO,22 jours,Paris,sql python scala t-sql edge,Paris&Co Client final CDI - temps plein,jours,22
38,Data Scientist,29 jours,"Paris45.000,00 € - 70.000,00 € / an",machine learning méthodologie agile,Key Consulting ESN CDI - temps plein,jours,29
39,Stage Data Analyst-(H/F),postée hier,La Defense,outils perl vba test data management,Société générale Client final CDI - temps ...,NaN,1

In [23]:

#df['nb_jour_final'] = df.apply(lambda x: x['nb_jour'] * 31 if x['duree'] == 'mois' else 0 if x['duree'] == 'heures' else 1 if pd.isna(x['duree']) else x['nb_jour'] , axis=1)
df.head(40)
# Définir la date de référence
datetime_str = '15/01/2023'

datetime_object = datetime.strptime(datetime_str, '%d/%m/%Y')
# Transformer les valeurs de la colonne 1 en liste
col1_list = df['duree'].tolist()

# Transformer les valeurs de la colonne 2 en liste
col2_list = df['nb_jour'].tolist()
print(col2_list)
print(col1_list)

nb_jour_final = []

# Itérer simultanément sur les deux listes
for value1, value2 in zip(col1_list, col2_list):
    if value1 == 'jours':
        continue
    elif value1 == 'mois':
        value2 = value2 * 31
    elif value1 == 'heures':
        value2 = 0
    elif value1 == 'nan':
        value2 = 1
        
    nb_jour_final.append(value2)


df['nb_jour_final'] = pd.DataFrame(nb_jour_final)

df

[21, 1, 27, 21, 3, 15, 28, 1, 12, 13, 13, 14, 3, 14, 28, 9, 2, 2, 14, 5, 22, 8, 25, 21, 29, 19, 1, 1, 1, 5, 14, 13, 9, 22, 21, 9, 22, 22, 29, 1, 7, 22, 2, 17, 2, 21, 22, 9, 22, 15, 1, 15, 20, 21, 20, 28, 20, 22, 24, 1, 21, 1, 27, 21, 3, 15, 28, 1, 12, 13, 13, 14, 3, 14, 28, 9, 2, 2, 14, 5, 9, 14, 22, 9, 24, 24, 4, 6, 2, 24, 7, 21, 1, 17, 11, 1, 22, 1, 1, 5, 27, 7, 1, 1, 1, 16, 20, 13, 1, 1, 3, 1, 3, 28, 16, 2, 17, 17, 1, 1, 27, 1, 22, 1, 22, 3, 3, 3, 10, 22, 17, 1, 14, 17, 25, 17, 27, 24, 7, 1, 3, 3, 1, 14, 3, 27, 3, 20, 1, 1, 21, 27, 20, 21, 17, 9, 1, 1, 21, 2, 16, 1, 1, 1, 24, 27, 17, 7, 1, 25, 28, 10, 13, 2, 3, 17, 1, 22, 6, 17, 1, 14, 28, 21, 13, 6, 10, 17, 28, 17, 8, 14, 20, 20, 14, 3, 13, 13, 10, 14, 2, 22, 16, 22, 21, 1, 13, 22, 1, 22, 14, 22, 22, 21, 23, 14, 22, 14, 14, 3, 17, 17, 14, 2, 13, 27, 3, 2, 16, 3]
[' jours', ' mois', ' jours', ' jours', ' jours', ' jours', ' jours', ' mois', ' heures', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' heures', ' jours', ' jours', ' jours', ' jours', nan, ' mois', nan, ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', nan, ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' mois', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' mois', ' jours', ' mois', ' jours', ' jours', ' jours', ' jours', ' jours', ' mois', ' heures', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' heures', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' mois', ' jours', ' jours', nan, ' jours', nan, nan, ' jours', ' jours', ' jours', nan, ' mois', nan, ' jours', ' jours', ' jours', nan, nan, ' heures', ' mois', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' mois', ' mois', ' jours', ' mois', ' jours', ' mois', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' mois', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', nan, ' jours', ' jours', ' mois', ' jours', ' jours', ' jours', ' jours', ' jours', ' mois', nan, ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', nan, ' mois', ' jours', ' heures', ' jours', ' mois', ' mois', nan, ' jours', ' jours', ' jours', ' jours', ' mois', ' jours', ' jours', ' jours', ' jours', ' heures', ' jours', ' jours', ' mois', ' jours', ' jours', ' jours', ' mois', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' heures', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', nan, ' jours', ' jours', ' mois', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' jours', ' heures', ' jours', ' jours', ' jours', ' heures', ' jours', ' jours']

,Intitulé du poste,Date de publication,lieu,competences,Type de poste,duree,nb_jour,nb_jour_final
0,Data Analyst - Publicité,21 jours,Paris,sql t-sql outils,Sept Lieues SAS Cabinet de recrutement CDI...,jours,21,21
1,Data analyst - H/F,1 mois,"Paris, La Défense",support outils agile design big data,EDF France Client final CDI - temps plein,mois,1,1
2,Customer Data Analyst (H/F),27 jours,Paris,crm data quality sql sas python,Hermès Client final CDI - temps plein,jours,27,27
3,Master Data Analyst H/F,21 jours,Moussy-le-Vieux,si support sap,TEREOS Client final CDI - temps plein,jours,21,21
4,Portfolio Data Analyst H/F,3 jours,France,outils support decisionnel sql test,Safran-Group Client final CDI - temps plein,jours,3,3
...,...,...,...,...,...,...,...,...
225,SAP Fiori Developer (H/F),27 jours,Saint-Ouen,sap abap progiciel système support,Groupe ENGIE Client final CDI - temps plein,jours,27,27
226,ENGIE Digital - Architecte Données (H/F),3 jours,Paris,digital outils securité sécurité t-sql,Groupe ENGIE Client final CDI - temps plein,jours,3,3
227,Quality Assurance - Lead QA - Lead Acceptance H/F,2 heures,Boulogne-Billancourt,test serveur jquery mobile tdd,Francaise des jeux Client final CDI - temp...,heures,2,2
228,DATA SCIENTIST,16 jours,"NEUILLY SUR SEINE38.000,00 € - 50.000,00 € / an",nosql unix java machine learning linux,BEEZEN ESN CDI - temps plein,jours,16,16
229,Datascientist (H/F),3 jours,Saint-Ouen,big data support python réseaux securité,Groupe ENGIE Client final CDI - temps plein,jours,3,3

In [22]:
"""
# Itérer sur les lignes du DataFrame
for index, row in df.iterrows():
    # Vérifier la valeur de la première colonne
   
    if row['duree'] == 'mois':
        df.at[index, 'nb_jour'] = row['nb_jour'] * 31
    elif row['duree'] == 'nan':
        df.at[index, 'nb_jour'] = 1
    elif row['duree'] == 'heures':
        df.at[index, 'nb_jour'] = 0

df['nb_jour_final'] = df.apply(lambda x: x['nb_jour'] * 31 if x['duree'] == 'mois' else 0 if x['duree'] == 'heures' else 1 if pd.isna(x['duree']) else x['nb_jour'] , axis=1)

df[['nb_jour_final']]= df[['nb_jour_final']].apply(pd.to_numeric)

df[['nb_jour']]= df[['nb_jour']].apply(pd.to_numeric)
df['nb_jour_final'] = df.apply(lambda x: x['nb_jour']*31 if x['duree'] == 'mois' else 0 if x['duree'] == 'heures' else x['nb_jour'], axis=1)


for i in range(df.shape[0]):

    if df.iloc[i]['duree'] == 'mois':
        df.at[i, 'nb_jour'] = df.iloc[i]['nb_jour']*31
    elif df.iloc[i]['duree'] == 'heures':
        df.at[i, 'nb_jour'] = 0


for i in range(df.shape[0]):

    if df.iloc[i]['duree'] == 'mois':
        df.at[i, 'nb_jour'] = df.iloc[i]['nb_jour']*31
    elif df.iloc[i]['duree'] == 'heures':
        df.at[i, 'nb_jour'] = 0
        
# Convertir la colonne 2 en objets timedelta
df['nb_jour'] = pd.to_timedelta(df['nb_jour'])

# Ajouter une nouvelle colonne pour stocker la date 
df['date'] = datetime_object

# Itérer sur la colonne date et soustraire la valeur de la colonne 2
for i in range(df.shape[0]):
    df.at[i, 'date'] = df.iloc[i]['date'] - timedelta(days=df.iloc[i]['nb_jour'])

"""

"\n# Itérer sur les lignes du DataFrame\nfor index, row in df.iterrows():\n    # Vérifier la valeur de la première colonne\n   \n    if row['duree'] == 'mois':\n        df.at[index, 'nb_jour'] = row['nb_jour'] * 31\n    elif row['duree'] == 'nan':\n        df.at[index, 'nb_jour'] = 1\n    elif row['duree'] == 'heures':\n        df.at[index, 'nb_jour'] = 0\n\ndf['nb_jour_final'] = df.apply(lambda x: x['nb_jour'] * 31 if x['duree'] == 'mois' else 0 if x['duree'] == 'heures' else 1 if pd.isna(x['duree']) else x['nb_jour'] , axis=1)\n\ndf[['nb_jour_final']]= df[['nb_jour_final']].apply(pd.to_numeric)\n\ndf[['nb_jour']]= df[['nb_jour']].apply(pd.to_numeric)\ndf['nb_jour_final'] = df.apply(lambda x: x['nb_jour']*31 if x['duree'] == 'mois' else 0 if x['duree'] == 'heures' else x['nb_jour'], axis=1)\n\n\nfor i in range(df.shape[0]):\n\n    if df.iloc[i]['duree'] == 'mois':\n        df.at[i, 'nb_jour'] = df.iloc[i]['nb_jour']*31\n    elif df.iloc[i]['duree'] == 'heures':\n        df.at[i, 'nb_jour'] = 0\n\n\nfor i in range(df.shape[0]):\n\n    if df.iloc[i]['duree'] == 'mois':\n        df.at[i, 'nb_jour'] = df.iloc[i]['nb_jour']*31\n    elif df.iloc[i]['duree'] == 'heures':\n        df.at[i, 'nb_jour'] = 0\n        \n# Convertir la colonne 2 en objets timedelta\ndf['nb_jour'] = pd.to_timedelta(df['nb_jour'])\n\n# Ajouter une nouvelle colonne pour stocker la date \ndf['date'] = datetime_object\n\n# Itérer sur la colonne date et soustraire la valeur de la colonne 2\nfor i in range(df.shape[0]):\n    df.at[i, 'date'] = df.iloc[i]['date'] - timedelta(days=df.iloc[i]['nb_jour'])\n\n"